@model RapidBootcamp.WebApplication.Models.Customer

<html>
<head>
    <title>
        Delete Customers
    </title>
</head>
<body>
    <h2>Delete Customers</h2>
    <form method="POST" action="/Customers/Delete">
        <p>Apakah anda yakin akan mendelete category @Model.CustomerName ?</p>
        <input type="hidden" value="@Model.CustomerId" name="CustomerId" />
        <div>
            <input type="submit" value="Delete" />
        </div>
    </form>
</body>
</html>